<!DOCTYPE html>
<html lang="en" ng-app="sweetGit">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sweet Git</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/beauty-part/styles/sweet-git-style.css" />
    <link rel="stylesheet" href="app/beauty-part/styles/style.css" />
    <script src="app/bower_components/angular/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/sweet-git-widget/sweet-git-controller.js"></script>
</head>

<body ng-controller="sweetGitController">

<div id="sweetGit-widget">
    <div class="col-center">
        <h1>Let me give you a Sweet Git Widget</h1>
        <h4>Write your GitHub username:</h4>

        <div class="col-center">
            <div class="form-group col-xs-4">
                <input type="text" class="form-control" id="github-username" ng-model="username" placeholder="Github username...">
            </div>

            <button type="button" class="btn btn-default" ng-click="getGitInfo()">Give it to me</button>

        </div>

        <div id="github-api" class="clearfix"></div>
    </div>

    <!-- the actual place to generate sweet widget-->
    <!--avatar, name and username, followers, following, repos count, stars find clever way-->
    <!--todo: add button-->
    <div class="col-center" ng-show="loaded">
        <div class="container widget">
            <div class="row github-profile">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row github-profile">
                                <div class="col-xs-6 col-sm-6 col-md-6 separator profile-info">
                                    <div class="profile-photo">
                                        <img src="{{ user.avatar_url }}" class="img-responsive" alt="">
                                    </div>

                                    <div class="profile-names">
                                        <div class="profile-username">
                                            <span class="smallname">@<a href="{{user.html_url}}" target="_blank">{{user.login}}</a></span>
                                        </div>
                                        <div class="profile-fullname">
                                            <p>{{user.name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <i style="font-size:24px" class="fa text-right">&#xf09b;</i>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 profile-info">
                                    <ul class="nav">
                                        <li class="hovereffect text-right">
                                            {{ user.followers }} followers
                                        </li>
                                        <li class="hovereffect text-right">
                                            {{ user.following }} following
                                        </li>
                                        <li class="hovereffect text-right">
                                            {{ user.allStars }} stars
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="signature">
                                <p class="text-right center">by SweetGit<span class="hearts">*</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="app/bower_components/jquery/dist/jquery.min.js"></script>
<script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>